<script type="text/javascript">
    $.get("/user", function (data) {
        $("#user").html(data.name);
        // $(".unauthenticated").hide()
        $(".authenticated").show()
    });

    var logout = function () {
        $.post("/logout", function () {
            $("#user").html('');
            // $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    }
</script>

<nav class="navbar">
    <div class="container-fluid authenticated" style="display:none">
        Loged in as: <span id="user">Username</span>
        <div>
            <button onclick="logout()" class="btn btn-primary">Logout</button>
        </div>
    </div>
</nav>